<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-auto d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Event
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">شروع آزمون</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <app-exam-button></app-exam-button>
      </div>

    </div>
  </div>
</div>
